html { background: #000;}
body { background: #ccc; width: 70%; padding: 1em;}
h1 { background: #333; width: 70%; padding: 1em; 
	color: #ccc;}
div { width: 200px; height: 200px; 
	border: solid red 5px;
	transition: width .2s ease-out;
	-webkit - transition: width .2s ease-out;}
	div:hover {width: 500px; }
